<header class="header modal-blur"  [class.transitioning]="changingHeader">
  <h1 class="h1" [innerHtml]="currentHeader || 'Netlogo Content & User Administration'"></h1>
</header>
<navigation></navigation>
<page-viewer class="content-panel modal-blur" [ngClass]="currentPageClass" [history]="false">
  <page-template [id]="Page.Home" title="Home">
    <ng-template>
      <ul class="fv-tile-grid" [class.admin]="showTeacherManagement">
        <li *ngIf="showTeacherManagement" class="li cell span-20">
          <button class="button tile" (click)="viewer.setCurrentPage(Page.Teachers)">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span class="label">Teacher Management</span>
          </button>
        </li>
        <li class="li cell span-20">
          <button class="button tile" (click)="viewer.setCurrentPage(Page.Classroom)">
            <i class="fa-solid fa-screen-users"></i>
            <span class="label">Classroom Management</span>
          </button>
        </li>
      </ul>
    </ng-template>
  </page-template>
  <page-template [id]="Page.Teachers" title="Teacher Management">
    <ng-template><teachers></teachers></ng-template>
  </page-template>
  <page-template [id]="Page.Classroom" title="Classroom Management">
    <ng-template><classroom></classroom></ng-template>
  </page-template>
</page-viewer>

<ng-template #exampleModalTemplate>
  <div class="modal-header">
    <h2 class="h2">Example Modal Window</h2>
  </div>
  <div class="modal-body">
    <p class="p">We frequently use modals for configuration forms, secondary information, alerts and confirmations.</p>
    <p class="p">Keyboard trapping is enabled such that all interactive components behind the modal window are disabled and can't be accessed via tab key until the modal is dismissed. Clicking the ESC key will dismiss the modal and, unless explicitly prevented in the ModalData config, clicking outside the text box will also dismiss the window.</p>
  </div>
  <div class="buttons">
    <button class="button std" (click)="onCancelModal()">Close</button>
  </div>
</ng-template>
<messages [z-index]="12000"></messages>
<modal class="modal" [transition-speed]="250" [z-index]="10001" background="rgba(255,255,255,0.25)"></modal>
<loader [transition-speed]="250" [animation-duration]="loaderDuration" [z-index]="10000" [size]="loaderSize" color="#0099ff" background="rgba(255,255,255,.25)" ></loader>